.DS_Store
.env
.ipynb_checkpoints/
__pycache__/
*.pyc
/data
code/sequence/data
code/logreg/embeddings
code/logreg/experiments
code/logreg/outputs
code/finetuning/data
code/finetuning/data_2
code/finetuning/data_3
code/finetuning/data_new_split
*.pdf
*.png